@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white;
  }
}

@layer components {
  .card {
    @apply bg-black border-dark-200;
  }
  
  .input {
    @apply bg-black border-dark-200 text-white;
  }
  
  .button {
    @apply bg-primary-500 hover:bg-primary-600 text-white;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-3000 {
    animation-delay: 3s;
  }

  .animation-delay-5000 {
    animation-delay: 5s;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;

    /* Safari and Chrome */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .scrollbar-default {
    /* IE and Edge */
    -ms-overflow-style: auto;
    /* Firefox */
    scrollbar-width: auto;

    /* Safari and Chrome */
    &::-webkit-scrollbar {
      display: block;
    }
  }

  input[type='checkbox']::before {
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  .dashes {
    background: repeating-linear-gradient(
      to bottom,
      #ced6fe 0,
      #ced6fe 6px,
      transparent 6px,
      transparent 12px
    );
  }
}

/* Range slider: replace default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  width: calc(100% - 36px);
  @apply absolute pointer-events-none h-0 outline-none;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  pointer-events: all;
  @apply bg-black border border-black/10 rounded-full shadow cursor-pointer w-4 h-4 relative mt-1;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  pointer-events: all;
  @apply bg-black border border-black/10 rounded-full shadow-sm cursor-pointer w-4 h-4 relative mt-1;
}

/* Admin */
.logoFile img,
.logoFile .RaImageField-image {
  height: 48px !important;
  width: 48px !important;
}

/* Admin forms */
.simple-iterator {
  .RaSimpleFormIterator-form {
    display: flex !important;
    flex-direction: row !important;
    gap: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .intercom-lightweight-app .intercom-lightweight-app-launcher {
    bottom: 64px !important;
  }

  /*localhost*/
  .intercom-dfosxs {
    bottom: 64px !important;
  }
}
