@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@layer base {
  @font-face {
    font-family: "Metropolis";
    src: url('./fonts/Metropolis-Regular.woff2') format('woff2'),
      url('./fonts/Metropolis-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Metropolis";
    src: url('./fonts/Metropolis-Medium.woff2') format('woff2'),
      url('./fonts/Metropolis-Medium.woff') format('woff');
    font-weight: 500;
    font-style: medium;
  }

  @font-face {
    font-family: "Metropolis";
    src: url('./fonts/Metropolis-Bold.woff2') format('woff2'),
      url('./fonts/Metropolis-Bold.woff') format('woff');
    font-weight: bold;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-3000 {
    animation-delay: 3s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }

  .animation-delay-5000 {
    animation-delay: 5s;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
}

html,
body {
  /* Typography */
  font-family: theme('fontFamily.sans');
  /* font optimization */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
   @apply bg-gray-50 text-dark-500 overscroll-y-none;
}

/***************** 
Mobile hamburger button
******************/
.main-nav{
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after { 
    @apply absolute h-0.5 w-[26px] bg-current rounded-[1px] transition-transform;
  }

  .hamburger-inner{
    &::before{
      transition:top .075s .12s ease, opacity .075s ease;
      @apply top-[7px];
    }
    &::after{
      transition:bottom .075s .12s ease,transform .075s cubic-bezier(.55,.055,.675,.19);
      @apply bottom-[7px];
    }
  }

  /* Active hamburger button  */
  &.nav-toggle-active{
    .hamburger-inner{
      @apply delay-150 ease-linear rotate-45;

      &::before{
        transition:top .075s ease, opacity .075s .12s ease;
        @apply top-0 opacity-0;
      }
      &::after{
        transition:bottom .075s ease, transform .075s .12s cubic-bezier(.215,.61,.355,1);
        @apply bottom-0 rotate-90;
      }
    } 
  }
}